#outside {
    background: rgb(19, 68, 38);
}

#borderInside {
    background: rgb(19, 68, 38);
    color: gold;
}

.btn-link {
    color: gold !important;
}

.link {
    color: gold;
}

.link:hover {
    color: goldenrod;
}

.link:active {
    color: goldenrod;
}