<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand text-warning fs-1" href="#">Alexandria</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav" *ngIf="!user">
        <li class="nav-item">
          <a
            class="nav-link active navText text-warning fs-5"
            [routerLink]="['/']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link navText text-warning fs-5"
            [routerLink]="['/auth/login']"
            routerLinkActive="active"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link navText text-warning fs-5"
            [routerLink]="['/auth/register']"
            routerLinkActive="active"
            >Register</a
          >
        </li>
      </ul>
      <ul class="navbar-nav" *ngIf="user">
        <li class="nav-item">
          <a
            class="nav-link navText text-warning fs-5"
            [routerLink]="['/dashboard']"
            routerLinkActive="active"
            *ngIf="user"
            >Dashboard</a
          >
          <a
            class="nav-link navText text-warning fs-5"
            [routerLink]="['/profile']"
            routerLinkActive="active"
            *ngIf="user"
            >Your Page</a
          >
          <a
            class="nav-link navText text-warning fs-5"
            [routerLink]="['/user_details']"
            routerLinkActive="active"
            *ngIf="user"
            >Your Info</a
          >
          <a
            ><button
              type="button"
              class="btn btn-danger logout-btn fs-5 py-1 rounded-0"
              *ngIf="user"
              (click)="logout()"
            >
              Logout
            </button></a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
