.navbar {
    background:rgb(19, 68, 38);
    color: gold;
}

.navText {
    color: gold;
}

.navText:active {
    color: goldenrod;
}

.navbar-toggler {
    border-color: gold;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 215, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}