<div class="container text-center d-flex flex-column p-5 home">
  <div id="welcome" class="mt-5 p-5">
    <div id="title">
      <h1 class="text-danger fw-bolder display-3"></h1>
      <h2 class="lh-lg m-5">
        Welcome to Alexandria! <br />
        To get started
        <a
          class="btn btn-link text-warning m-0 p-0 pb-2 fs-4"
          [routerLink]="['/auth/login']"
          routerLinkActive="active"
          >LOGIN</a
        >
        or
        <a
          class="btn btn-link text-warning m-0 p-0 pb-2 fs-4"
          [routerLink]="['/auth/register']"
          routerLinkActive="active"
          >SIGN UP</a
        >
      </h2>
    </div>
  </div>
</div>
