<div class="container mt-5">
  <!-- User Profile Section -->
  <div class="row">
    <div class="col-md-4 text-center">
      <img
        src="{{ user.avatarUrl }}"
        alt="User Avatar"
        class="rounded-circle mb-3"
        style="width: 250px; height: 250px"
      />
      <p class="fs-1">Welcome back, {{ user.username }}!</p>
    </div>
  </div>

  <!-- Bookshelves Section -->
  <div class="row mt-4">
    <div class="col-md-8 offset-md-2">
      <button
        type="button"
        class="btn-link mb-3 border border-success py-2 px-3 bg-success-subtle fs-6 float-end"
        (click)="openCreateBookshelfModal()"
      >
        Create New Bookshelf
      </button>

      <div *ngFor="let bookshelf of bookshelves">
        <h5 class="card-title fs-4 mb-3 mt-3">{{ bookshelf.name }}</h5>
        <div class="card mb-3 rounded-0 border-2 border-success">
          <div class="card-body">
            <!-- Display favorite books here -->
            <div *ngIf="bookshelf.name === 'favourite books'">
              <div
                *ngFor="let book of bookshelves[0].bookList"
                class="card mb-3 border rounded-0"
              >
                <div class="row no-gutters flex-column flex-sm-row">
                  <div class="col-sm-4">
                    <img [src]="book.thumbnail" alt="Book cover" />
                  </div>
                  <div class="col-sm-8">
                    <div class="card-body">
                      <h5 class="card-title">{{ book.title }}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">
                        {{ book.subtitle }}
                      </h6>
                      <p class="card-text">
                        <small class="text-muted">{{
                          book.authors?.join(", ")
                        }}</small>
                      </p>
                      <p class="card-text">
                        <small class="text-muted">{{ book.publisher }}</small>
                      </p>
                      <button
                        class="btn btn-danger rounded-0"
                        (click)="removeBookFromBookshelf(book.bookId)"
                      >
                        X
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Create Bookshelf Modal -->
  <div
  class="modal fade"
  id="createBookshelfModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="createBookshelfModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog rounded-0" role="document">
    <div class="modal-content rounded-0 border-2 border-success" style="background-color: rgb(250, 243, 233);">
      <div class="modal-header rounded-0">
        <h5 class="modal-title fs-3" id="createBookshelfModalLabel">
          Create New Bookshelf
        </h5>
        <button
          type="button"
          class="btn btn-danger rounded-0"
          (click)="closeCreateBookshelfModal()"
          aria-label="Close"
          style="margin-left: auto;"
        >
          <span aria-hidden="true"> X </span>
        </button>
      </div>
      <div class="modal-body rounded-0">
        <form (ngSubmit)="createBookshelf()">
          <div class="form-group">
            <label for="bookshelfName" class="fs-3 mb-2">Bookshelf Name</label>
            <input
              type="text"
              class="form-control rounded-0 mb-2 fs-4"
              id="bookshelfName"
              [(ngModel)]="newBookshelfName"
              name="bookshelfName"
              required
            />
          </div>
          <button type="submit" class="btn-link mb-3 border border-success py-2 px-3 mt-3 bg-success-subtle fs-6 float-end">
            Create Bookshelf
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

</div>
