<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2 text-center">
      <img [src]="user?.avatarUrl" alt="Profile Picture" class="rounded-circle mb-3" width="150" height="150">
      <h2>{{ user?.firstName }} {{ user?.lastName }}</h2>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-8 offset-md-2">
      <div *ngFor="let bookshelf of bookshelves" class="card mb-3">
        <div class="card-header">
          {{ bookshelf.name }}
        </div>
        <div class="card-body">
          <div *ngFor="let book of bookshelf.bookList" class="card mb-2">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img [src]="book.thumbnail" class="card-img" alt="Book cover">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{ book.title }}</h5>
                  <p class="card-text">{{ book.description }}</p>
                  <p class="card-text"><small class="text-muted">{{ book.authors?.join(', ') }}</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
